.generator {
  margin: 40px 0;
}

.editor__wrapper {
  box-shadow: 0px 0px 30px 10px #d8d8d8a1;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.editor__container {
  min-width: 700px;
  min-height: 500px;
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
}

.textarea {
  width: 100%;
  display: block;
  margin: 40px 0;
  height: 200px;
}

.note-popover .popover-content, .panel-heading.note-toolbar {
  text-align: center;
}

.btn {
  margin: 0 5px !important;
}

.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu {
  min-width: 200px;
  padding: 10px;
}

.note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu li a{
  color: black !important;
}

.note-icon-caret {
  display: none;
}

.note-editor.note-frame {
  border-radius: 8px;
}