.editor__wrapper {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin: 20px 0;
}

.editor__container {
  min-width: 700px;
  min-height: 300px;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
  font-size: 16px;
  border-top: 1px solid black;
}